.detail {
    width: 50%;
    gap: 40px;
    margin-top: 40px;
}

.button-container {
    width: fit-content;
    display: flex;
    gap: 20px;
    justify-content: center;
    text-align: center;
}

.back-button,
.delete-button {
    line-height: 32px;
}
